input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  margin: 0 10px;
}

img {
  margin: 0px 10px;
  width: 200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}